version: '3'
services:
  dns:
    image: twentyfourbytes/interceptor:39ffc7b
    depends_on:
      - redis
    volumes:
      - ./Corefile:/go/bin/Corefile
    ports:
      - "53:53/udp"
      - "53:53"
    deploy:
      mode: global
  api: 
    depends_on:
      - redis
    image: twentyfourbytes/backend:010cd0a
    volumes:
      - ./api/config.json:/root/api/config.json
    ports:
      - "8000:8000"
    deploy:
      mode: global
  app:
    image: twentyfourbytes/frontend:91c7f15
    volumes:
      - ./api/config.json:/root/twentyfourbytes/config.json
    ports:
      - "3000:3000"
    deploy:
      mode: global
  redis:
    image: redis:latest
    deploy:
      mode: global    
      


